<?xml version="1.0"?>
<configuration>
		<configSections>
				<section name="Globals"	type="System.Configuration.DictionarySectionHandler"/>
				<section name="RelativePaths" type="System.Configuration.DictionarySectionHandler"/>
		</configSections>

		<Globals>
				<add key="NameSpace" value="mw" />
				<add key="csc20" value="C:\Windows\Microsoft.NET\Framework\v2.0.50727\System.dll" />
				<add key="exl_dll_name" value="mw-proto-client" />
				<add key="exl_pre_name" value="mw-serializer" />
				<add key="exl_pre_size" value="1000" />
				<add key="msg_dll_name" value="mw-proto" />
				<add key="msg_pre_name" value="mw-proto-serializer" />
				<add key="msg_pre_size" value="50" />
		</Globals>

		<RelativePaths>
				<add key="WorkDir" value="..\..\..\..\" />
				<add key="client" value="{WorkDir}client\" />
				<add key="server" value="{WorkDir}server\" />
        <add key="server_bin" value="{WorkDir}bin\server\" />
				<add key="tools" value="{WorkDir}tools_src\" />
				<add key="design" value="{WorkDir}design\" />

				<add key="TempDir" value="{tools}temp\" />

				<add key="exl" value="{design}configs\" />
				<add key="exl_client_libs" value="{client}Assets\Libs\" />
				<add key="exl_client_data" value="{client}Assets\Resources\ClientProto\" />
				<add key="exl_server_libs" value="{server}server\config\data\" />
				<add key="exl_server_data" value="{server_bin}configs\" />
				<add key="exl_rely_proto" value="{tools}mw-proto_conv\proto_conv\bin\Release\" />
				<add key="exl_rely_cs" value="{tools}mw-proto-client\code\HC.cs" />

				<add key="msg" value="{server}server\proto\" />
				<add key="msg_client_libs" value="{client}Assets\Libs\" />
				<add key="msg_server_libs" value="{server}server\proto\" />

				<add key="protoc" value="{tools}ProtoGen\protoc.exe" />
				<add key="protogen" value="{tools}ProtoGen\protogen.exe" />
				<add key="proto_full" value="{tools}ProtoGen\protobuf-net.dll" />
				<add key="proto_core" value="{tools}ProtoGen\CoreOnly\ios\protobuf-net.dll" />
		</RelativePaths>

		<startup>
				<supportedRuntime version="v2.0.50727"/>
		</startup>

</configuration>
